body {
    background-color: #fffbf7;
}
.header {
    margin: 40px 20px 0 20px;
    height: 45px;
    font-family: sans-serif;
    font-size: 0;
    font-weight: bold;
}
.header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.logo>img {
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}
.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions>* {
    margin-right: 10px;
    margin-left: 10px;
}
.actions a {
    color: #67b54b;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}
li {
    display: inline;
}
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: green;
}
.publish>p {
    font-size: 16px;
    color: blue;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish>form {
    display: flex;
}
.publish>form p {
    color: blueviolet;
    margin-right: 18px;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    margin-top: 285px;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header--alt {
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -2px;
    margin-bottom: 30px;
    margin-top: 0;
}
.flex-container>p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
}
.btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    border: 0px;
}
.btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
}
.logos__cont__inn {
    align-items: left;
    justify-content: left;
    margin: 0 auto;
}
.flex-container {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.profile {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;



}



.container1{
    display: flex;

}



.row {
    display: flex;
    flex-direction: row;
}
.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #025157;
}
.customer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
}
.result {
    display: flex;
    flex-wrap: nowrap;
}
.item-1 img {
    position: relative;
    width: 26px;
    padding-top: 24px;
    padding-right: 10px
}
.item-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -.5px;
    color: #828282;
    margin-right: 20px;
}


.profile {
    max-width: 21.19%;
}

.profile img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}
.container {
    background-color: #a1d683;
}
.input {
    border-left: 1px solid #025157;
    border-top: 1px solid #025157;
    border-bottom: 1px solid #025157;
    height: 48px;
    margin-right: 0;
    display: block;
    color: #4a4a4a;
    border-radius: 5px;
}
.ads {
    display: flex;
}
.publish {
    margin-left: 25px;
}


.features {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(5, 330px);
}



.features-art {
margin: 10px;
background-color: violet;

}
